.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.about__item__title {
    font-weight: 600;
    padding: 10px;
}

.about__item__content {
    padding: 10px;
}