<section id="contact" class="contact">
    <div class="contact__button"><a class="contact__button__link color__white h4" href="mailto:willakelin@gmail.com">Contact me</a></div>
    <div class="contact__email h2">willakelin@gmail.com</div>
    <div class="contact__links">
        <a class="contact__link" href="https://www.linkedin.com/in/willakelin/"><i class="contact__link__icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a class="contact__link" href="https://github.com/willake"><i class="contact__link__icon fa fa-github" aria-hidden="true"></i></a>
        <a class="contact__link" href="https://twitter.com/WillakeLin"><i class="contact__link__icon fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</section>