<nav class="nav nav__mobile">
    <div class="nav__mobile__bar">
        <a title="Home" class="nav__mobile__logo" href="/"></a>
        <a title="Home" class="nav__mobile__title color__white" href="/">Willake</a>
        <div class="nav__mobile__button hamburger hamburger--spin">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </div>
          
    </div>
    <div class="nav__mobile__dropdown">
        <a title="About" class="nav__mobile__dropdown__item" href="/about">About</a>
        <a title="Experience" class="nav__mobile__dropdown__item" href="/about#experience">Experience</a>
        <a title="Contact" class="nav__mobile__dropdown__item" href="/#contact">Contact</a>
        <!-- <a class="nav__dropdown__item" href="/Blog">Blog</a> -->
    </div>
</nav>
<nav class="nav nav__desktop">
    <a title="Home" class="nav__desktop__logo" href="/"></a>
    <a title="About" class="nav__desktop__link nav__about color__white" href="/about">About</a>
    <a title="Experience" class="nav__desktop__link nav__experience color__white" href="/about#experience">Experience</a>
    <a title="Contact" class="nav__desktop__link nav__contact color__white" href="/#contact">Contact</a>
</nav>
<div class="nav__space"></div>