<nav class="nav nav__mobile">
    <div class="nav__mobile__bar">
        <div class="nav__mobile__logo"></div>
        <div class="nav__mobile__title color__white">Willake</div>
        <div class="nav__mobile__button hamburger hamburger--spin">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>
    <div class="nav__mobile__dropdown">
        <a class="nav__mobile__dropdown__item" href="/">Home</a>
        <a class="nav__mobile__dropdown__item nav__about" href="/#about">About</a>
        <a class="nav__mobile__dropdown__item nav__experience" href="/#experience">Experience</a>
        <a class="nav__mobile__dropdown__item nav__portfolio" href="/#portfolio">Portfolio</a>
        <a class="nav__mobile__dropdown__item nav__contact" href="/#contact">Contact</a>
        <!-- <a class="nav__dropdown__item" href="/Blog">Blog</a> -->
    </div>
</nav>
<div class="nav__space"></div>