.skill {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $lg){
        padding: 0 15%;
    }
}

.skill__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill__category__title {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;

    @media screen and (min-width: $lg){
        font-size: 1.8rem;
    }
}

.skill__category__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: $lg){
    }
}

.skill__category__item {
    width: auto;
    box-shadow: 1px 1px 3px #888888;
    border-radius: 5px;
    margin: 10px 10px;

    @media screen and (min-width: $lg){
        // width: 200px;
    }
}

.skill__category__item__title {
    background: #70a9a1;
    font-size: 1.8rem;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px;

    @media screen and (min-width: $lg){
        padding: 10px 10px;
    }
}

.skill__category__item__detail {
    font-size: 1.4rem;
    margin: 3px 0;
}